.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.left-col {
  flex: 1;
  padding-right: 40px;
}

table {
  font-size: 22px;
  font-weight: 700;
  width: 100%;
}

img {
  margin-right: 20px;
}

tr td:first-child {
  width: 150px;
}

th {
  text-align: left;
}

.widgets {
  max-width: 500px;
  flex: 1;
}

.container {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 40px;
}

.skip-box {
  height: 80px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 71px;
  text-align: center;
}

.deliver-box {
  background-color: #f3f4f6;
  height: 80px;
  margin-top: 20px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 71px;
  text-align: center;
  position: relative;
}

.chevron {
  width: 21px;
  height: 10.5px;
  position: absolute;
  top: 30px;
  right: 30px;
}

h1 {
  color: black;
  font-size: 32px;
  font-weight: 700;
}

select {
  width: 298px;
  height: 40px;
  border: 1px #d9d9d9 solid;
  vertical-align: bottom;
  font-size: 22px;
}

.ships-to-box {
  background: #f3f4f6;
  padding: 15px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.ships-to-box h2 {
  color: black;
  font-size: 22px;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.ships-to-box p {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.ships-to-box select {
  width: 100%;
}

.next-order-box {
  border: 1px solid black;
  padding: 40px 40px 20px 40px;
  margin-bottom: 40px;
}

.next-order-box p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.json-container {
  margin: 40px;
  background: lightgray;
  padding: 20px;
  max-width: 400px;
  border-radius: 4px;
}

.json-button {
  border: 1px solid;
  padding: 20px 40px;
  background-color: black;
  color: white;
  margin-bottom: 30px;
  margin-left: 40px;
}

.total {
  background: #f3f4f6;
  padding: 15px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
}

.total-thin {
  font-weight: 400;
}
