<div class="container">
  <h1>
    My Subscription Box:
    <select [(ngModel)]="selectedOrder">
      <option *ngFor="let order of orders" [ngValue]="order">
        {{ order.OrderId }}
      </option>
    </select>
  </h1>
</div>
<div class="container d-flex">
  <div class="left-col">
    <div class="next-order-box">
      <p>
        Your next order will be processed on
        <select
          [(ngModel)]="orderDate"
          (change)="handleOrderDateChange($event)"
        >
          <option *ngFor="let date of orderDates" [value]="date">
            {{ date }}
          </option>
        </select>
      </p>
      <p>
        and delivered to
        <strong>{{ selectedAddress?.street }}</strong> on
        <strong *ngIf="deliveryDate"
          >{{ deliveryDate | date : "EEEE, MMMM d"
          }}{{ deliveryDate | date : "d" | dateSuffix }}</strong
        >
        <span *ngIf="!deliveryDate">no delivery date.</span>
      </p>
      <p *ngIf="deliveryDate">
        Please make changes to your next order
        <strong>before {{ getOlderDay(deliveryDate) }} @ 11:59pm</strong>
        for {{ deliveryDate | date : "EEEE" }} Delivery.
      </p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th></th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              style="width: 120px; height: 120px"
              src="assets/images/image2.png"
            />
          </td>
          <td>
            <p>Juice Cleanse Subscription</p>
            <p>{{ selectedOrder?.items?.length }} Item(s)</p>
          </td>
        </tr>

        <tr *ngFor="let order of selectedOrder?.items">
          <td>
            <img
              style="width: 120px; height: 120px"
              [src]="products[order.id].image"
            />
          </td>
          <td>
            <p>{{ products[order.id].name }}</p>
          </td>
          <td>
            {{ order.qty }}
          </td>
          <td>
            {{ order.regularPrice }}
          </td>
          <td>
            {{ order.qty * order.regularPrice }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total" *ngIf="returnedObject?.shippingLine">
      <div class="total-row">
        <span>Subtotal</span>
        <span>$9.14</span>
      </div>
      <div class="total-row">
        <span
          >Shipping
          <span class="total-thin"
            >({{ returnedObject?.shippingLine?.name }})</span
          ></span
        >
        <span>${{ returnedObject?.shippingLine?.total }}</span>
      </div>
      <div class="total-row">
        <span>Total</span>
        <span>${{ (returnedObject?.shippingLine?.total || 0) + 9.14 }}</span>
      </div>
    </div>
  </div>
  <div class="widgets">
    <div class="skip-box">Skip 1 Week</div>
    <div class="deliver-box">
      Deliver Every: 2 Weeks
      <div class="chevron">
        <div
          style="
            width: 14.85px;
            height: 0px;
            left: 0px;
            top: 0px;
            position: absolute;
            transform: rotate(45deg);
            transform-origin: 0 0;
            border: 1px black solid;
          "
        ></div>
        <div
          style="
            width: 14.85px;
            height: 0px;
            left: 21px;
            top: 0px;
            position: absolute;
            transform: rotate(135deg);
            transform-origin: 0 0;
            border: 1px black solid;
          "
        ></div>
      </div>
    </div>
    <div class="ships-to-box">
      <h2 *ngIf="selectedDelivery">
        Delivery via <span class="underline">{{ selectedDelivery }}</span>
      </h2>
      <p>Ships To:</p>
      <select [(ngModel)]="selectedAddress">
        <option *ngFor="let address of addresses" [ngValue]="address">
          {{ address.name || "Address" }}
        </option>
      </select>
    </div>
    <qpilot-delivery-date
      *ngIf="selectedOrderDate && siteId && selectedAddress && selectedOrder"
      [orderDate]="selectedOrderDate | json"
      [siteId]="siteId"
      [shippingAddress]="selectedAddress | json"
      [order]="selectedOrder | json"
      (onDateUpdate)="handleDateUpdate($event)"
    ></qpilot-delivery-date>
  </div>
</div>
<button *ngIf="returnedObject" class="json-button" (click)="toggleJson()">
  Toggle JSON
</button>
<div *ngIf="returnedObject && showJson" class="json-container">
  <ngx-json-viewer [json]="returnedObject"></ngx-json-viewer>
</div>
